{% extends 'base.html.twig' %}

{% block title %}Mes permanences
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 mb-5 title-effect">Mes permanences</h1>
	<div class="row justify-content-md-center mb-2">
		<a href="{{path('permanence_index')}}" class="mr-2">Liste des permanences</a>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col" class="text-center">Date de permanence
				</th>
				<th scope="col" class="text-center">Nombre de places
				</th>
				<th scope="col" class="text-center">Nombre d'inscrits
				</th>
				<th scope="col" class="text-center"></th>
			</tr>
		</thead>
		<tbody>
			{% for permanence in permanences %}
				<tr class="table-light">
					<td class="text-center">{{ permanence.date|date('d-m-Y') }}</td>
					<td class="text-center">{{ permanence.numberPlaces }}</td>
					<td class="text-center">{{ permanence.participants|length }}</td>
					<td>
						<a href="{{ path('permanence_show', {'id': permanence.id}) }}" class="btn btn-outline-info my-1 p-1" data-toggle='tooltip' data-placement='top' title='Consulter'>
							<i class="far fa-eye fa-2x"></i>
						</a>
						<a href="{{ path('permanence_unsubscribe', {'id': permanence.id}) }}" class="btn btn-outline-warning my-1 p-1" data-toggle='tooltip' data-placement='top' title='Se désinscrire'>
							<i class="fas fa-user-slash fa-2x"></i>
						</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">Vous n'êtes inscrit à aucune permanence</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
