{% form_theme form 'treasurer/donation/_payment.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn {{ button_class|default('btn-outline-primary') }} my-4">
	<i class="far fa-save"></i>
	{{ button_label|default('Enregistrer la donation') }}
</button>
{{ form_end(form) }}
