{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row justify-content-between">
	<div class="col-3">
		<a href="{{ path('referent_contract_member_index') }}" class="btn btn-outline-primary my-4">
			<i class="far fa-times-circle"></i>
			Annuler</a>
	</div>
	<div class="col-3">
		<button type="submit" class="btn {{ button_class|default('btn-outline-primary') }} my-4">
			{% if app.request.attributes.get('_route') == 'referent_contract_member_new_multiple' %}
				<i class="far fa-save"></i>
				{{ button_label|default('Créer les contrats') }}
			{% else %}
				{{ button_label|default('Etape suivante') }}
				<i class="fas fa-arrow-right"></i>
			{% endif %}
		</button>
	</div>
</div>


{{ form_end(form) }}
