{% block _subscription_payment_widget %}
	{{ form_widget(form) }}
	<div class="form-group">
		<button type="button" id="add-subscriptionPayment" class="btn btn-primary">
			<i class="fas fa-plus"></i>
			Ajouter un paiement
		</button>
	</div>
{% endblock %}

{% block _subscription_payment_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		<div class="row">
			<div class="col">
				{{ form_widget(form.checkNumber) }}
				{{ form_errors(form.checkNumber) }}
			</div>
			<div class="col-3">
				{{ form_widget(form.checkOrder) }}
				{{ form_errors(form.checkOrder) }}
			</div>
			<div class="col">
				{{ form_widget(form.depositDate) }}
				{{ form_errors(form.depositDate) }}
			</div>
			<div class="col">
				{{ form_widget(form.amount) }}
				{{ form_errors(form.amount) }}
			</div>
			<div class="col">
				<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-outline-danger">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
