{{ form_start(form) }}
<div class="row">
	<div class="col-3">
		{{ form_row(form.startDate) }}
	</div>
	<div class="col-3">
		{{ form_row(form.endDate) }}
	</div>
	<div class="col-3">
		{{ form_row(form.numberPlaces) }}
	</div>
</div>
<div class="row">
	<div class="col-5">
		{{ form_row(form.frequency) }}
	</div>
</div>
<button type="submit" class="btn {{ button_class|default('btn-outline-primary') }} my-4">
	<i class="far fa-save"></i>
	{{ button_label|default('Enregistrer les permanences') }}</button>

{{ form_end(form) }}
