{% extends 'base.html.twig' %}

{% block title %}Les permanences
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 mb-5 title-effect">Les permanences</h1>
	{{paginationDate.renderDefault()}}
	<div class="row">
		<div class="col-3">
			<a href="{{ path('referent_permanence_new') }}" class="btn btn-outline-primary mb-2">
				<i class="fas fa-plus-circle"></i>
				Ajouter une permanence</a>
		</div>
		<div class="col-6">
			<a href="{{ path('referent_permanence_multiple') }}" class="btn btn-outline-primary mb-2">
				<i class="fas fa-plus-circle"></i>
				Ajouter une serie de permanences</a>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col" class="text-center">N°
				</th>
				<th scope="col" class="text-center">Date de permanence
				</th>
				<th scope="col" class="text-center">Nombre de places
				</th>
				<th scope="col" class="text-center">Nombre d'inscrits
				</th>
				<th scope="col" class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for permanence in paginationDate.data %}
				<tr class="table-light">
					<td class="text-center">{{ permanence.id }}</td>
					<td class="text-center">{{ permanence.date|date('d-m-Y') }}</td>
					<td class="text-center">{{ permanence.numberPlaces }}</td>
					<td class="text-center">{{ permanence.participants|length }}</td>
					<td>
						<a href="{{ path('referent_permanence_show', {'id': permanence.id}) }}" class="btn btn-outline-info my-1 p-1" data-toggle='tooltip' data-placement='top' title='Consulter'>
							<i class="far fa-eye fa-2x"></i>
						</a>
						<a href="{{ path('referent_permanence_edit', {'id': permanence.id}) }}" class="btn btn-outline-primary my-1 p-1" data-toggle='tooltip' data-placement='top' title='Modifier'>
							<i class="far fa-edit fa-2x"></i>
						</a>


						{% if permanence.participants|length == 0 %}
							<a href="{{ path('referent_permanence_delete', {'id': permanence.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ permanence.id) }}" class="btn btn-outline-danger my-1 p-1" data-delete-text="cette permanence" data-toggle='tooltip' data-placement='top' title='Supprimer'>

								<i class="far fa-trash-alt fa-2x"></i>
							</a>

						{% else %}
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('referent_permanence_unsubscribe', {'id': permanence.id}) }}" class="btn btn-outline-warning my-1 p-1" data-toggle='tooltip' data-placement='top' title="Désinscrire des participants">
									<i class="fas fa-users-slash fa-2x"></i>
								</a>

							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune permanence enregistrée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/delete.js')}}"></script>
{% endblock %}
