{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn {{ button_class|default('btn-outline-primary') }} my-4">
	<i class="far fa-save"></i>
	{{ button_label|default("Enregistrer l'association") }}
</button>
{{ form_end(form) }}
